<div class="row">
  <div class="col-sm-3 col-6 p-2">
    <div class="card text-center">
      <div class="card-body p-2">
        <h5 class="card-title"><i class="far fa-check-circle" [ngClass]="ok==0?'text-muted':'text-success'"></i></h5>
        <p class="card-text">{{ok==null?'-':ok}}/{{total==null?'-':total}}</p>
      </div>
    </div>
  </div>
  <div class="col-sm-3 col-6 p-2">
    <div class="card text-center">
      <div class="card-body p-2">
        <h5 class="card-title"><i class="fas fa-exclamation-triangle" [ngClass]="warn==0?'text-muted':'text-warning'"></i></h5>
        <p class="card-text">{{warn==null?'-':warn}}/{{total==null?'-':total}}</p>
      </div>
    </div>
  </div>
  <div class="col-sm-3 col-6 p-2">
    <div class="card text-center">
      <div class="card-body p-2">
        <h5 class="card-title"><i class="far fa-times-circle" [ngClass]="critical==0?'text-muted':'text-danger'"></i></h5>
        <p class="card-text">{{critical==null?'-':critical}}/{{total==null?'-':total}}</p>
      </div>
    </div>
  </div>
  <div class="col-sm-3 col-6 p-2">
    <div class="card text-center">
      <div class="card-body p-2">
        <h5 class="card-title"><i class="far fa-question-circle" [ngClass]="unknown==0?'text-muted':'text-info'"></i></h5>
        <p class="card-text">{{unknown==null?'-':unknown}}/{{total==null?'-':total}}</p>
      </div>
    </div>
  </div>
</div>