<table class="table table-hover table-striped">
    <thead>
      <tr class="text-center">
        <th scope="col">Key</th>
        <th scope="col">Value</th>
        <th (click)="add()"><i class="far fa-plus-square fa-lg"></i></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let entry of _props" class="text-center">
        <td><input type="text" class="form-control" [(ngModel)]="entry.key" required></td>
        <td><input type="{{secret?'password':'text'}}" class="form-control" [(ngModel)]="entry.value" (focusout)="valueChanged($event)"></td>
        <td (click)="remove(entry)"><i class="far fa-trash-alt fa-lg"></i></td>
      </tr>
    </tbody>
</table>
