<snm-settings-list></snm-settings-list>

<div class="form-group">
  <button class="btn disabled" style="width: 150px" [ngClass]="{
    'btn-outline-secondary':schedulerRunning === null,
    'btn-outline-success':schedulerRunning === true,
    'btn-outline-danger':schedulerRunning === false
  }">Status: {{schedulerRunning==null?'unknow':(schedulerRunning?'running':'stopped')}}</button>
  &nbsp;
  <button class="btn btn-primary" id="startService" (click)="startService()">Start Service</button>
  &nbsp;
  <button class="btn btn-primary" (click)="stopService()">Stop Service</button><br>
  <small for="startService" class="form-text text-muted">Starts and stops the service which performs the host checks.</small>
</div>

<div class="form-group">
  <button class="btn btn-primary" routerLink="/commands" id="editCommands" routerLinkActive="active">Edit Commands</button><br>
  <small for="editCommands" class="form-text text-muted">Configure the available commands.</small>
</div>