<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between align-middle">
          <h5 class="card-title"><snm-status [value]="sensor?.status"></snm-status> {{sensor?.name}}</h5>
          <span>
            <div class="dropleft">
              <i class="btn fas fa-ellipsis-v" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              </i>
              <div class="dropdown-menu">
                <snm-sensor-edit-add [tag]="'a'" [class]="'dropdown-item'" [text]="'edit'" [sensor]="sensor" (sensorChanged)="sensorChanged.emit(true)"></snm-sensor-edit-add>
                <a class="dropdown-item" (click)="delete(sensor)">delete</a>
              </div>
            </div>
          </span>
        </div>
        <p class="card-text">
            <span>
                <ul class="nav nav-tabs" id="{{sensor?.name}}Tab" role="tablist">
                    <li class="nav-item" *ngFor="let sampleType of sensor?.sampleTypes" (click)="setCurrentSampleType(sampleType)" >
                        <a class="nav-link {{isActive(sampleType)?'active':''}}" id="{{sensor?.name}}_{{sampleType.name}}-tab" data-toggle="tab" href="#{{sensor?.name}}_{{sampleType.name}}" role="tab" attr.aria-controls="{{sensor?.name}}_{{sampleType.name}}" attr.aria-selected="{{isActive(sampleType)?'true':'false'}}">{{sampleType.name}}</a>
                    </li>
                </ul>
                
                <div class="tab-content" id="{{sensor?.name}}TabContent">
                    <div style="width: 100%; height: 200px;" class="tab-pane fade {{isActive(sampleType)?'show active':''}}" id="{{sensor?.name}}_{{sampleType.name}}" role="tabpanel" attr.aria-labelledby="{{sensor?.name}}_{{sampleType.name}}-tab" *ngFor="let sampleType of sensor?.sampleTypes">
                        <ngx-charts-line-chart #chart
                            [results]="data[sampleType?.id]"
                            [gradient]="gradient"
                            [xAxis]="true"
                            [yAxis]="true"
                            [showXAxisLabel]="true"
                            [showYAxisLabel]="true"
                            [xAxisLabel]="'t'"
                            [yAxisLabel]="sampleType.name + (sampleType.unit?' ('+sampleType.unit+')':'')"
                            [animations]="false"
                            [autoScale]="autoScale">
                        </ngx-charts-line-chart>
                    </div>
                </div>
            </span>
        </p>
    </div>
</div>