<i *ngIf="tag == 'i'" (click)="open()" [ngClass]="class" attr.title="{{text}}">{{text}}</i>
<a *ngIf="tag === 'a'" (click)="open()" [ngClass]="class" attr.title="{{text}}">{{text}}</a>


<ng-template #addTpl>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Sensor</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="general-tab" data-toggle="tab" href="#general" role="tab" aria-controls="general" aria-selected="true">General</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="props-tab" data-toggle="tab" href="#props" role="tab" aria-controls="props" aria-selected="false">Properties</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="sec-props-tab" data-toggle="tab" href="#sec-props" role="tab" aria-controls="sec-props" aria-selected="false">Secret Properties</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
          <form #addTplForm="ngForm">
            <div class="form-group">
              <label for="sensorName">Name</label>
              <input type="text" class="form-control" id="sensorName" aria-describedby="sensorNameHelp" placeholder="Enter sensor display name" name="sensor.name" [(ngModel)]="sensor.name" required>
              <small id="sensorNameHelp" class="form-text text-muted">Enter the display name for the sensor.</small>
            </div>
            <div class="form-group form-check">
              <input class="form-check-input" type="checkbox" id="sensorActive" aria-describedby="sensorActiveHelp" name="sensor.active" [(ngModel)]="sensor.active">
              <label for="sensorActive">Active</label>
              <small id="sensorActiveHelp" class="form-text text-muted">Check to activate the sensor.</small>
            </div>
            <div class="form-group">
              <label for="sensorInterval">Interval</label>
              <div class="input-group mb-3">
                <input type="number" class="form-control" id="sensorInterval" aria-describedby="sensorIntervalHelp" placeholder="Enter the sensor interval" name="sensor.interval" [(ngModel)]="sensor.interval" required>
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon2">ms</span>
                </div>
              </div>
              <small id="sensorIntervalHelp" class="form-text text-muted">Enter the sensor interval.</small>
            </div>
            <div class="form-group">
              <label for="sensorCommand">Command</label>
              <ng-select [items]="commandList"
                        bindLabel="name"
                        name="sensor.command"
                        [(ngModel)]="sensor.command"
                        placeholder="Select the command for the sensor"
                        id="sensorCommand" aria-describedby="sensorCommandHelp" required>
              </ng-select>
              <small id="sensorCommandHelp" class="form-text text-muted">Select the command for the sensor.</small>
            </div>
          </form>
        </div>
        <div class="tab-pane fade" id="props" role="tabpanel" aria-labelledby="props-tab">
          <snm-properties-panel [(props)]="sensor.properties"></snm-properties-panel>
        </div>
        <div class="tab-pane fade" id="sec-props" role="tabpanel" aria-labelledby="sec-props-tab">
          <snm-properties-panel secret="true" [(props)]="sensor.secretProperties"></snm-properties-panel>
        </div>
        <button type="button" class="btn btn-primary" (click)="perform()" [disabled]="!addTplForm.form.valid">Save</button>
        &nbsp;
        <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Cancel</button>
      </div>
  </div>
</ng-template>